<footer class="footer page-footer">
  <small>
    Copyright &copy; 2013 Serendip. All rights reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Configs', configs_path %></li>
    </ul>
  </nav>
</footer>
